html{
    background-color: grey;
    color: white;
    font-family: 'Franklin Gothic Medium';   
}
header,footer,h2{
    text-align: center;
    /*background-color: red;
    background-image: url(../img/drapeau.png);
    background-size: cover;
    background-repeat: no-repeat;*/
}
#lien{
    border: 1px solid;
    border-color: white;
    background-color: rgb(253, 253, 253);
    color:purple;
}

#contenu{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(136, 38, 38);
}
#tabi{
    text-align: center;
    color:rgb(3, 0, 0);
    font-size: medium;
    margin:auto;
    align-items: space-between;
}
legend{
    font-size: large;
}
.btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }